<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" providerName="Npgsql" connectionString="Server=localhost;Port=5432;Database=db_geo;User Id=postgres; Password=bredadb;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>